                             
/* MEDIA QUERIES -- make sure 'head' has:  <meta name="viewport" content="width=device-width, initial-scale=1.0">   ****/

/* WIDTHS: 0 -- 480px  phones */
/* WIDTHS: 480px -- 768px  tablets-vertical */
/* WIDTHS: 768px -- 1024px  tablets-horizontal*/
/* WIDTHS: 1024px -- 1200px  laptop */

/* autoprefixer ---> "autoprefix selection" */


/*****   big tablet to 1140 px ******/

@media only screen and (max-width: 1200px) {
    
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    
    .hero-text-box h1 {font-size: 200%;}
    .row { padding: 0 2%; }
    
    }





/*****   small tablet to big tablet; iPad in portrait mode  768px - 1023px ******/

@media only screen and (max-width: 1023px) {
    body { font-size: 18px;}
    padding {60px 0; }
    

    .long-copy {
        width: 80%
        margin-bottom: 10%;
    }

    .steps-box {margin-top: 10px;}
    .steps-box:last-child {margin-top: 10px;}
    .work-steps { margin-bottom: 40px;}
    .works-step:last-of-type { margin-bottom: 60px;}
    
    app-screen { width: 50%; }
    
    .icon-small { 
        width: 20px;
        margin-right: 5px; }
    .city-feature { font-size: 90%;}
    
    .plan-box { 
        width: 100%;
        margin-left: 0;
    }
    
    .plan-price {
        font-size: 250%;
    }

    .contact-form { 
        width: 80%;
    }
}


/*****   Small phones to small tablets  480px - 768px ******/

@media only screen and (max-width: 767px) {
    
    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    .row,
/*    .hero-text-box { padding: 0 4%; }*/
    .col {
        width: 100%;             /***** so columns aren't side-by-side but stack on each other ******/
        margin: 0 0 4% 0;
    }
    

    .main-nav { display: none; }
    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    .steps-box:first-child {
        text-align: center;
    }
    
    .app-screen {
        width: 40%;
    }
    
    .works-step div {
        
        height: 40px;
        width: 40px;
        margin-right: 15px;  
        font-size: 120%;
        padding: 4px;
        float: left;                  /* THIS LETS TEXT NEXT TO THE CIRCLE.*/
        
    }

    .works-step { margin-bottom: 20px;}
    .works-step { margin-bottom: 20px;}
    .works-step:last-of-type { margin-bottom: 20px;}
    

}


/*****   SMALLEST / small phones  0 - 480px ******/

@media only screen and (max-width: 480px) {
    
    section { padding: 25px 0;}
    .contact-form { width: 100%; }
}